main {
    display: flex;
    /* É pro conteúdo ficar embaixo como uma coluna, se não fica na mesma linha */
    flex-direction: column;
    height: 100vh;
    background-image: url("../src/images/wall.png");
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: black;
    color: white;
    border-bottom: 5px solid gold;
}

.info {
    color: red;
}

.panel {
    /* Pra mostrar onde está o flex-direction do main */
    border: 1px solid red;
    /* Desce um pouco a linha vermelha */
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Criando os quadradinhos */
.square {
    height: 150px;
    width: 150px;
    border: 1px solid black;
    background-color: aquamarine;
}

.enemy {
    background-color: red;
    /* Se colocar ../ mostra as pastas */
    background-image: url("../src/images/ralph.png");
    background-size: cover;
}

.menu-lives {
    display: flex;
    align-items: center;
    justify-content: center;
}

.second {
    /* margem entre os h2 de vermelho e de branco */
    margin-top: 10px;
}

.recarregar {
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    margin: auto;
    background: black;
    color: gold;
    border: 5px solid aquamarine;
    margin-top: 15px;
}